body {
  font-family: Arial, sans-serif;
  font-size: 11pt;
}
.header {
  width: 100%;
  height: 100px;
}
.header img {
  width: 200px;
  position: absolute;
}
.text {
  position: absolute;
  top: 300px;
}
